.container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container span {
  font-size: 0.8rem;
  color: var(--gray-primary);
}

.container button {
  border: none;
  background-color: transparent;
  text-align: left;
  color: var(--blue-primary);
  font-weight: 600;
  cursor: pointer;
}