.page {
  height: 95vh;
  font-family: var(--font-geist-sans);
}

.main_container {
  margin: 9rem auto 0px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}