.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container_input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.container_input_search {
  width: 100%;
  padding: 1.5rem 4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.container_input_icon_left {
  position: absolute;
  left: 1.5rem;
  color: #888;
}

.container_input_clearButton {
  position: absolute;
  right: 1.5rem;
  font-size: 1rem;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}

.container_input_clearButton:hover {
  color: #333;
}

.container.large {
  max-width: 600px;
}

.container.small {
  max-width: 450px;
}

.large .container_input_search {
  height: 3.5rem;
  font-size: 1.2rem;
}

.small .container_input_search {
  height: 0.5rem;
  font-size: 0.9rem;
  padding: 1rem 4rem;
}

